
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501343901461'); /* IE9*/
  src: url('iconfont.eot?t=1501343901461#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501343901461') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501343901461') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501343901461#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e64b"; }

.icon-shouye:before { content: "\e64f"; }

.icon-wodedingdan:before { content: "\e655"; }

.icon-xiafan:before { content: "\e65b"; }

.icon-lingcunwei:before { content: "\e666"; }

.icon-wode:before { content: "\e600"; }

.icon-ziliaoku:before { content: "\e601"; }

.icon-ziliaoshouce-xianxing:before { content: "\e898"; }

.icon-danju-xianxing:before { content: "\e89a"; }

.icon-shezhi-xianxing:before { content: "\e8b7"; }

.icon-zhuxiaoguanji:before { content: "\e8d8"; }

.icon-accessory:before { content: "\e6dd"; }

.icon-addition:before { content: "\e6e0"; }

.icon-barrage_fill:before { content: "\e6e3"; }

.icon-barrage:before { content: "\e6e4"; }

.icon-businesscard:before { content: "\e6e6"; }

.icon-createtask:before { content: "\e6ef"; }

.icon-document:before { content: "\e6f3"; }

.icon-enter:before { content: "\e6f8"; }

.icon-group_fill:before { content: "\e6ff"; }

.icon-homepage:before { content: "\e702"; }

.icon-manage:before { content: "\e70b"; }

.icon-mine_fill:before { content: "\e70e"; }

.icon-unfold:before { content: "\e749"; }

